

<% restaurant = JSON.parse('

{
  "R":
  	 {
    	"res_id": 51318
  		},
  
  "apikey": "bbaa7f2f778234292b1ace341832669b",
  
  "id": "51318",
 
  "name": "MTR 1924",
 
  "url": "https://www.zomato.com/bangalore/mtr-1924-st-marks-road?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
 
  "location": {
 
    "address": "29, Ground Floor, White House, St. Marks Road, Bangalore",
 
    "locality": "St. Marks Road",
    "city": "Bangalore",
    "city_id": 4,
    "latitude": "12.9723907156",
    "longitude": "77.6010814682",
    "zipcode": "0",
    "country_id": 1
  },
  "cuisines": "South Indian",
  "average_cost_for_two": 250,
  "price_range": 1,
  "currency": "Rs.",
  "offers": [],
  "thumb": "https://b.zmtcdn.com/data/pictures/8/51318/024d841c2d9a9ecfc0bbcfaf8139f42f_featured_v2.jpg",
  "user_rating": {
    "aggregate_rating": "4.1",
    "rating_text": "Very Good",
    "rating_color": "5BA829",
    "votes": "414"
  },
  "photos_url": "https://www.zomato.com/bangalore/mtr-1924-st-marks-road/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop",
  "menu_url": "https://www.zomato.com/bangalore/mtr-1924-st-marks-road/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop",
  "featured_image": "https://b.zmtcdn.com/data/pictures/8/51318/024d841c2d9a9ecfc0bbcfaf8139f42f_featured_v2.jpg",
  "has_online_delivery": 0,
  "is_delivering_now": 0,
  "deeplink": "zomato://restaurant/51318",
  "has_table_booking": 0,
  "events_url": "https://www.zomato.com/bangalore/mtr-1924-st-marks-road/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1"
}') %>

<% reviews = JSON.parse('
{
  "reviews_count": 201,
  "reviews_start": 0,
  "reviews_shown": 5,
  "user_reviews": [
    {
      "review": {
        "rating": 5,
        "review_text": "What an amazing food. Go there for breakfast and lunch. South Indian food feast . Only if you had a very huge tummy to fill the amazing food. Super cool. And service is amazing. Only issue was for lunch when we ask for the mango halwa second time dey hesitated ðŸ˜… but its ok I will still visit the place and recommend to everyone in Bangalore",
        "id": "28585597",
        "rating_color": "305D02",
        "review_time_friendly": "20 days ago",
        "rating_text": "Insane!",
        "timestamp": 1477579102,
        "likes": 3,
        "user": {
          "name": "Namitha Vikram",
          "foodie_level": "Big Foodie",
          "foodie_level_num": 5,
          "foodie_color": "ffae4f",
          "profile_url": "https://www.zomato.com/users/namitha-vikram-29155833?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/915/3fa3911eaa2c2a1437e7a4a19113d915.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/29155833"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 3,
        "review_text": "Ambience - average  Options - only south indian Taste - average  Service - Good  If you think all MTR branches are same this place makes you pondering. My taste buds just denied to accept it as MTR",
        "id": "28574282",
        "rating_color": "CDD614",
        "review_time_friendly": "21 days ago",
        "rating_text": "Average",
        "timestamp": 1477444854,
        "likes": 0,
        "user": {
          "name": "Prasanna S",
          "foodie_level": "Big Foodie",
          "foodie_level_num": 4,
          "foodie_color": "ffae4f",
          "profile_url": "https://www.zomato.com/users/prasanna-s-34932595?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/cec/23451cb1a8053d78be24c05717707cec.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/34932595"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 4.5,
        "review_text": "MTR does not need a review ( coz, it is that popular). My favorite here is Masala Dosa and Chandrahara (A must try).  Everything is tasty - Meals, Tiffins, sweets. Bisibella bath should be eaten when served hot. MTR is a must visit place every Sunday for us.",
        "id": "28402886",
        "rating_color": "3F7E00",
        "review_time_friendly": "one month ago",
        "rating_text": "Loved it!",
        "timestamp": 1475690145,
        "likes": 0,
        "user": {
          "name": "Siri K",
          "foodie_level": "Foodie",
          "foodie_level_num": 3,
          "foodie_color": "ffd35d",
          "profile_url": "https://www.zomato.com/users/siri-k-32272987?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/8c0/75f1253cd9a97b6bfc811cd9022498c0.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/32272987"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 4.5,
        "review_text": "I had the difficult task of taking my north indian friends to an authentic south Indian restaurant. It had to be good. It had to be extraordinary actually. Its a matter of pride. Then after all the brain storming, I knew that MTR would be a perfect place and it was. Ah the podi dosa....ok I am getting to it.  Location and ambience : Its located in both Commercial street and St Marks road. The interiors aint so pumped up but when the food is all that matters, we go blind na?!  Food : My northie...",
        "id": "28298295",
        "rating_color": "3F7E00",
        "review_time_friendly": "one month ago",
        "rating_text": "Loved it!",
        "timestamp": 1474647875,
        "likes": 8,
        "user": {
          "name": "Subhiksha Venkat",
          "zomato_handle": "Subhikshavenkat",
          "foodie_level": "Connoisseur",
          "foodie_level_num": 13,
          "foodie_color": "e95151",
          "profile_url": "https://www.zomato.com/Subhikshavenkat?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/08e/b3c19f9a34b41ad29f7d07a12751908e.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/2887416"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 4.5,
        "review_text": "Branch of an iconic place that is tucked in a silent lane of St.Marks Road. The place has no fancy boards to attract crowd however, I have never seen this place empty.   One of the best eateries to try authentic Bangalorean version of south Indian... The place serves most of their dishes with signature cup filled with ghee, making the food all the more delicious.   The place is one of my favourites, do try it once ðŸ˜  Recommendations - Masala Dosa, Onion Dosa and Rava Idli",
        "id": "28289708",
        "rating_color": "3F7E00",
        "review_time_friendly": "one month ago",
        "rating_text": "Loved it!",
        "timestamp": 1474557024,
        "likes": 1,
        "user": {
          "name": "Shwetha K.N",
          "zomato_handle": "shwethakn",
          "foodie_level": "Super Foodie",
          "foodie_level_num": 8,
          "foodie_color": "f58552",
          "profile_url": "https://www.zomato.com/shwethakn?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/bfe/1044e5585352895ec62b3c1172d3abfe.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/176402"
        },
        "comments_count": 0
      }
    }
  ],
  "Respond to reviews via Zomato Dashboard": "https://www.zomato.com/business/claim?ref=rpg&resid=51318#claim"
}')

%>

<br/>
<%= restaurant["name"] %><br/>

<%= link_to "visit", restaurant["url"] %>
<%= image_tag(restaurant["thumb"]) %><br/>

<h3>Address</h3>
<%= restaurant["location"]["address"] %>

<h3>Cuisines</h3>
<%= restaurant ["cuisines"] %>

<h3>cost for 2</h3>
<%=restaurant["average_cost_for_two"] %>

<h3> Menu</h3> <br/>
<%= link_to "MENU",restaurant["menu_url"] %>

<h3>Phone Numbers</h3>
<%=restaurant["phone_numbers"] %> <br/>

<h3>Restaurant reviews</h3> 
<b> total reviews </b> <%= reviews["reviews_count"] %> <br/>
<% reviews["user_reviews"].each do |rew| %> 

<%= image_tag(rew["review"]["user"]["profile_image"]) %>---<%= rew["review"]["user"]["name"] %>------------<%= rew["review"]["user"]["foodie_level"] %><br/>
<%= rew["review"]["review_text"] %> <br/>
<%= rew["review"]["rating_text"] %> <br/>
<%= rew["review"]["review_time_friendly"] %> <br/>
<% end %>


